**String In Python**

In [2]:
# string concept in python 

mystring="Shekhar"
print(mystring)
type(mystring)

Shekhar

str

In [4]:
mystring.upper() #will convert string in capital letters

'SHEKHAR'

In [6]:
mystring.lower() #will convert in lower letters

'shekhar'

In [8]:
mystring.replace("e","f") #will replace the given string with something else

'Shfkhar'

In [10]:
# string concatenation 
str1="hi"
str2="class"
print(str1+str2)

# If we have to bring space in between then we will use "" in between
print(str1+" "+str2)

hiclass
hi class

In [12]:
print(str1 *3)

hihihi

In [14]:
# membership function  : to check whether the item is in string or not

str1="Unfollow Shekhar"
print("follow"in str1)  #This will return true

True

In [16]:
str3="0123456789"
# to check the length of string 
print(len(str3))

10

In [18]:
str3[0]

'0'

In [20]:
str3[0:10] # here 10 index position value will be excluded

'0123456789'

In [22]:
# string comparsion
str1="apple"
str2="banana"

print(str1==str2)
print(str1<str2)  # Dictonary->  alphabets ascending order m B is greater than A   ( completed based on od

False
True

In [26]:


a="aaabc"
b="aabc"
print(a<b)# checking the alphabets if it is desecending or not

True

In [28]:
# ESCAPE CHARACTER   

str4="hi \"python\""
print(str4)

hi "python"

In [36]:
# taking input in python

name=input("Enter your name !!")
# or 
print("Hi "+name)
print(f"Hi {name}")  # string formatting

Enter your name !! Shekhar Jha

Hi Shekhar Jha
Hi Shekhar Jha

***Numeric Operations***

In [41]:
print(2**4)

16

In [43]:
print(2/4)

0.5

In [45]:
print(20//4)

5

In [47]:
print(20%4)

0

**Lecture 2 @ 23th August**

*String Methods or Functions*

In [51]:
x="hello world"
x.replace('l','w')

'hewwo worwd'

In [53]:


id(x)

2017944765104

In [55]:
type(x)

str

In [57]:
x.replace("hewwo","hello")

'hello world'

**String is immutable , therefore ID wont change , it will remain permanent**

In [62]:
# length of string
len(x)

11

In [64]:
str2="0123456789"
print(len(str2))
# the range is from 0 to N-1

10

In [66]:
# access the first index of the string
str2[0]

'0'

In [70]:
str2[12] # if we will put bigger index than usual then it will show error

IndexError: string index out of range

In [72]:
str2[0:5]

'01234'

In [74]:
# to print the complete string using slicing 
str2[0:len(str2)]

# or
str2[0:]

'0123456789'

**TYPE CONVERSION IN PYTHON**

In [79]:
# x=10/2
# x

# need to get output only 5 instead of 5.0
x=int(10/2)
x

5

In [81]:
bool(0)

False

In [83]:
bool(-1)
# In Python, any non-zero value is considered True when evaluated as a boolean. This includes negative numbers like -1.

True

In [85]:
a=-10001.000012
print(abs(a))

10001.000012

In [87]:


round(a,2)

-10001.0

*List in Python*

In [90]:
a=[1,2,3,4]
a

[1, 2, 3, 4]

In [92]:


a[0]

1

In [96]:
# changing the value of index 0
a[0]=15
a
# this prove that list are mutable

[15, 2, 3, 4]

In [98]:
# using inbuilt function
sum(a)

24

*Input Functions*

In [103]:
name=input("Enter your name: ")
print(f"my name is {name}")

Enter your name:  Jaggu Badmash

my name is Jaggu Badmash

*finding the size of function -> help in optimizationp purpose*

In [105]:


import sys # Sys are in built function

x=42
size=sys.getsizeof(x)
print(f"Size of x:{size} bytes")

Size of x:28 bytes

#Functions

In [109]:
# syntax of function


def display(testvar):
    print(f"Value is {testvar} ")
    print(f"Value  of ID is {id(testvar)}")
    print(f"Value  of ID is {type(testvar)}")

a=int(input("enter the number"))
display(a)
display(a)

enter the number 69

Value is 69
Value  of ID is 140710311248440
Value  of ID is <class 'int'>
Value is 69
Value  of ID is 140710311248440
Value  of ID is <class 'int'>